body{
    display: flex;
}

section{
    position: absolute;
    top: 10%;
    width: 50%;
    height: 80vh;
}

img{
    min-height: 100%;
    max-width: 100%;
}

.secc2{
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selectsecc{
    width: 100%;
}

.selectsecc > select{
    width: 100%;
    height: 40px;
}

#Parte{
    font-size: x-large;
    font-weight: 900;
}